<a href="https://colab.research.google.com/gist/Saicharan67/c2b84ef65a6328131df7cd98e601ff19/untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df=pd.read_csv("/content/city1.csv")
df1=pd.read_csv("/content/city2.csv")

Plotting the line chart of Date vs High Temperature

In [ ]:
plt.plot(df['Date'],df['High_temp'])


plt.title("Date vs High Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("High Temp. in degree celcius",fontsize=15)

Plotting the line chart of Date vs Low Temperature

In [ ]:
plt.plot(df['Date'],df['Low_temp'])


plt.title("Date vs Low Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Low Temp. in degree celcius",fontsize=15)

Plotting the line chart of Date vs Precipitation

In [ ]:
plt.plot(df['Date'],df['Precipitation'])


plt.title("Date vs Precipitation",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation in mm",fontsize=15)

Plotting the line chart of Date vs High Temperature & Date vs Low Temperature

In [ ]:
plt.subplot(2,1,0)
plt.plot(df['Date'],df['High_temp'])


plt.title("Date vs High Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("High Temp. in degree celcius",fontsize=15)

plt.show()



plt.subplot(2,1,1)
plt.plot(df['Date'],df['Low_temp'])


plt.title("Date vs Low Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Low Temp. in degree celcius",fontsize=15)

plt.show()

Plotting the line chart of Date vs Precipitation for city1 & Date vs Precipitation city2

In [ ]:
plt.plot(df['Date'],df['Precipitation'])


plt.title("city1",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation",fontsize=15)

plt.show()



plt.subplot(2,1,2)
plt.plot(df1['Date'],df1['Precipitation'])


plt.title("city2",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation",fontsize=15)

plt.show()